<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Show List</div>
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action bg-light">Categories</a>
            <a href="/user/show" class="list-group-item list-group-item-action bg-light">Users</a>
            <a href="/carousel/show" class="list-group-item list-group-item-action bg-light">Carousel</a>
            <a href="/offer/show" class="list-group-item list-group-item-action bg-light">Offer Images</a>
        </div>
        <div class="sidebar-heading">Create</div>
        <div class="list-group list-group-flush">
            <a href="/category/createForm" class="list-group-item list-group-item-action bg-light">Add Category</a>
            <a href="/carousel/createForm" class="list-group-item list-group-item-action bg-light">Add Carousel Image</a>
            <a href="/offer/createForm" class="list-group-item list-group-item-action bg-light">Add Offer Image</a>

        </div>
        <div class="sidebar-heading">More </div>
            <div class="list-group list-group-flush">
                <a href="/order" class="list-group-item list-group-item-action bg-light">Orders</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0"></ul>
                </div>
            </nav>
      